$main-color: #FCA120;
$bg-color: lightgray;
$table-header-bg-color: #021b38;
$table-header-text-color: #fff;
$button-border-radius: 3px;
$button-sell-bg: #f44336;
$button-sell-text: #fff;
$button-report-bg: #f44336;
$button-report-text: #fff;
$button-buy-bg: #4caf50;
$button-buy-text: #fff;
$button-add-bg :#1976d2;
$button-add-text: #fff;
$button-delete-bg: #C10015;
$button-delete-text: #fff;
$button-cancel-bg: #999;
$button-cancel-text: #fff;
$button-submit-bg: #21BA45;
$button-submit-text: #fff;
$button-payment-bg: #e3ecf6;
$button-payment-text: #000;
$button-edit-bg: #f44336;
$button-edit-text: #fff;
$button-suspend-bg: #c72a06;
$button-suspend-text: #fff;
$button-confirm-bg: #1976d2;
$button-confirm-text: #fff;

$q-input-height: 34px;
$page-title-font-size: 36px;
$q-input-font-size: 14px;

$font-size-form-title: 16px;
$font-size-category-title:18px;
$font-size-of-btn-title: 16px;
$font-size-sub-title: 14px;

$margin-bottom-form-title:8px;
$margin-bottom-category-title:8px;
$margin-bottom-of-btn-title: 8px;
$margin-bottom-sub-title: 4px;

$form-field-suffix-margin-left:8px;
$form-field-suffix-font-size:12px;

$mobile-font-size-form-title: 12px;
$mobile-font-size-category-title:16px;
$mobile-font-size-of-btn-title: 16px;
$mobile-font-size-sub-title: 14px;

$mobile-margin-bottom-form-title:8px;
$mobile-margin-bottom-category-title:8px;
$mobile-margin-bottom-of-btn-title: 8px;
$mobile-margin-bottom-sub-title: 4px;

$mobile-form-field-suffix-margin-left:8px;
$mobile-form-field-suffix-font-size:12px;
